/* CSS HEX */
--shamrock: #439A62ff;
--muted-teal: #75AF8Eff;
--ash-grey: #96A39Aff;
--soft-linen: #F3EFE6ff;
--parchment: #F6F1EBff;

/* CSS HSL */
--shamrock: hsla(141, 39%, 43%, 1);
--muted-teal: hsla(146, 27%, 57%, 1);
--ash-grey: hsla(138, 7%, 61%, 1);
--soft-linen: hsla(42, 35%, 93%, 1);
--parchment: hsla(33, 38%, 94%, 1);

/* SCSS HEX */
$shamrock: #439A62ff;
$muted-teal: #75AF8Eff;
$ash-grey: #96A39Aff;
$soft-linen: #F3EFE6ff;
$parchment: #F6F1EBff;

/* SCSS HSL */
$shamrock: hsla(141, 39%, 43%, 1);
$muted-teal: hsla(146, 27%, 57%, 1);
$ash-grey: hsla(138, 7%, 61%, 1);
$soft-linen: hsla(42, 35%, 93%, 1);
$parchment: hsla(33, 38%, 94%, 1);

/* SCSS RGB */
$shamrock: rgba(67, 154, 98, 1);
$muted-teal: rgba(117, 175, 142, 1);
$ash-grey: rgba(150, 163, 154, 1);
$soft-linen: rgba(243, 239, 230, 1);
$parchment: rgba(246, 241, 235, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-right: linear-gradient(90deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-bottom: linear-gradient(180deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-left: linear-gradient(270deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-top-right: linear-gradient(45deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-bottom-right: linear-gradient(135deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-top-left: linear-gradient(225deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-bottom-left: linear-gradient(315deg, #439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);
$gradient-radial: radial-gradient(#439A62ff, #75AF8Eff, #96A39Aff, #F3EFE6ff, #F6F1EBff);